<div class="container">
  <div class="row" style="margin-top: 25px;">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="well" >
        <div class="row">
          <div class="col-lg-12">
            <% if @messages.blank? %>
              Chat is empty
            <% else %>
              <table class="table table-condensed chat-table">
              <% @messages.each do |message| %>
                <tr>
                  <td><i><%= message.user.email %></i>: <b><%= message.body %></b></td>
                  <td style="text-align: right;"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                </tr>
              <% end %>
              </table>
            <% end %>
            <hr>

            <div class="messages-input-div">
            <%= form_for Message.new, remote: true do |f| %>

              <%= f.hidden_field :chat_id, value: @chat_id %>
              <%= f.text_field :body %>
              <%= f.submit "Send",:class=>'btn btn-primary' %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= subscribe_to "/chat/#{@chat_id}/messages" %>
