<!DOCTYPE html>
<html>
  <head>
    <title>Tinder</title>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/"><b>My photos</b></a></li>
            <li><a class="navbar-brand" href="/profiles"><b>Find a pair</b></a></li>
            <li><a class="navbar-brand" href="/chats"><b>Chats</b></a></li>
            <li><a class="navbar-brand" href="/votes"><b>Votes history</b></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, :class =>"navbar-brand right") %></li>


          </ul>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
